################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorIDB/FileContentIndex/4493f840-0a54-4f31-bd7b-8cb584ca3f7d.vsidx
/.vs/BlazorIDB/FileContentIndex/65f5a9cf-516e-4e28-9b02-44c8fe1b48c0.vsidx
/.vs/BlazorIDB/FileContentIndex/783fae57-4b95-47b5-a17a-a0ca4fee4ad4.vsidx
/.vs/BlazorIDB/FileContentIndex/990e9057-f7b7-45e6-8019-392aaed67de5.vsidx
/BlazorIDB/bin/Debug/BlazorIDB.1.0.8.nupkg
/BlazorIDB/obj/Debug/BlazorIDB.1.0.8.nuspec
/.vs/BlazorIDB/FileContentIndex/ece29988-52ce-4a47-ad39-51795092b6a7.vsidx
